@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans";
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  padding: 27px 0;
  background: rgba(255, 255, 255, 1);
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  display: flex;
  align-items: center;
  /* justify-content: end; */
  list-style: none;
  gap: 33px;
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.hero-section {
  padding: 126px 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 539px;
  gap: 30px;
}

.text-box {
  max-width: 648px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  color: #132238;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 84px;
}

.desc {
  color: var(--Gray-900, #132238);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.btn-component {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;

  width: fit-content;
  padding: 12px 24px;
  border-radius: 4px;
  background: #A53DFF;
  border: 1px solid #A53DFF;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.card {
  padding: 17px 6px;
  border-radius: 6px;
  border: 1px solid var(--Gray-White, #FFF);
  background: rgba(237, 216, 255, 0.50);
}

.card-title {
  color: var(--Gray-700, #424E60);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  /* 125% */
}

.card-text {
  color: var(--Gray-500, #697484);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.left-col,
.right-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-content {
  position: relative;
  display: grid;
  grid-template-columns: 424px 1fr;
  max-width: 1096px;
  margin: 0 auto;
  padding: 112px;
  border-radius: 16px;
  background: var(--Gray-White, #FFF);
  box-shadow: 0px 36px 105px 0px rgba(43, 56, 76, 0.10);
  align-items: center;
  gap: 30px;
  margin-bottom: -100px !important;
}

.right-col {
  max-width: 536px;
  margin-left: auto;
}

.sub-heading {
  color: var(--Gray-900, #132238);
  font-family: "Work Sans";
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  /* 131.579% */
}

.btns-wraper {
  display: flex;
  gap: 16px;
}

.download-btn {
  background-color: #fff;
  color: #A53DFF;
}

.image-wraper {
  position: relative;
}

.socail-icons {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);

  padding: 12px;
  border-radius: 4px;
  background: var(--Gray-White, #FFF);
  box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
  list-style: none;

  display: flex;
  width: fit-content;
}

.social-link {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background: var(--Gray-White, #FFF);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover {
  background-color: #A53DFF;
}

.social-link:hover svg path {
  fill: #fff;
}

.work-process-section {
  padding-top: 248px;
  padding-bottom: 140px;
  background-color: #F0F1F3;
}

.flex-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.content-wraper {
  max-width: 529px;
}

.cards-wraper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  max-width: 648px;
}

.work-card {
  padding: 32px;
  border-radius: 12px;
  background: var(--Gray-White, #FFF);
  box-shadow: 32px 32px 124px 0px rgba(43, 56, 76, 0.10);
}

.work-card:first-child,
.work-card:nth-child(3) {
  transform: translateY(-20px);
}

.icon-wraper {
  width: 72px;
  height: 72px;
  border-radius: 6px;
  background: rgba(237, 216, 255, 0.50);
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-card:hover .icon-wraper,
.contact-card:hover .icon-wraper {
  background-color: #A53DFF;
}

.contact-card .icon-wraper {
  width: 48px;
  height: 48px;
}

.work-card:hover .icon-wraper svg path,
.contact-card:hover .icon-wraper svg path {
  fill: #fff;
}

.card-heading {
  margin-top: 32px;
  margin-bottom: 8px;
  color: var(--Gray-900, #132238);

  /* Heading/05 */
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 120% */
}

.work-desc {
  color: var(--Gray-600, #556070);

  /* Body/Regular/400 */
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-16 {
  margin-top: 16px;
}

.contact-section {
  padding-top: 100px;
}

.contact-box {
  border-radius: 15px;
  background: var(--Gray-White, #FFF);
  box-shadow: 0px 59px 124px 0px rgba(0, 0, 0, 0.12);
  padding: 88px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
  position: relative;
}

.contact-text {
  max-width: 481px;
}

.mt-16 {
  margin-top: 16px;
}

.contact-cards {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-card {
  padding: 24px;
  border-radius: 10px;
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 10px;
  background: var(--Gray-White, #FFF);
}

.contact-card:hover {
  box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
}

.contact-label {
  color: #424E60;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.contact-link {
  color: var(--Gray-900, #132238);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 4px;
  text-decoration: none;
}

form {
  margin-top: 50px;
}

.fields-wraper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fields-flex {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 24px;
}

.form-controll {
  border: none;
  border-bottom: 1px solid #E6E8EB;
  outline: none;
  padding-bottom: 14px;
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
}

.form-controll:focus {
  border-bottom: 1px solid #A53DFF;
  color: #A53DFF;
}

.form-controll:focus::placeholder {
  color: #A53DFF;
}

.mt-50 {
  margin-top: 50px;
}

.contact-section .socail-icons {
  position: unset;
  transform: none;
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin-top: 35px;
}

.footer {
  background: var(--Gray-800, #2B384C);
  padding-top: 160px;
  padding-bottom: 50px;
  margin-top: -70px;
}

.footer .nav-items {
  gap: 0;
}

.footer .nav-link {
  color: #fff;
  padding: 12px;
  font-weight: 400;
}

.copyrights {
  color: #FFF;
  font-size: 16px;
  line-height: 24px;
}

.nav-toggler {
  border: none;
  background: transparent;
  display: none;
}

@media(max-width: 991px) {

  .hero-section{
    padding: 40px 0;
  }

  .work-process-section {
    padding-top: 160px;
    padding-bottom: 60px;
  }

  .contact-section {
    padding-top: 50px;
  }

  .content,
  .about-content,
  .contact-box {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .image-col {
    order: 1;
  }

  .left-col {
    order: 2;
    gap: 40px;
  }

  .text-box,
  .right-col {
    max-width: 100%;
  }

  .image-wraper {
    width: fit-content;
  }

  .flex-wraper {
    flex-wrap: wrap;
    gap: 40px;
  }

  .contact-box {
    padding: 40px;
  }
}

@media(max-width: 575px) {

  .container {
    padding: 0 16px;
  }

  .nav-toggler{
    display: block;
  }

  .header .nav-items,
  .header .btn-component {
    display: none;
  }

  .about-content {
    padding: 12px;
  }

  .footer .nav-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .footer .navbar {
    flex-wrap: wrap;
    gap: 50px;
  }

  .footer {
    padding-top: 120px;
  }

  .contact-box {
    padding: 12px;
  }

  .cards-wraper {
    grid-template-columns: 1fr;
  }

  .work-card:first-child, .work-card:nth-child(3) {
    transform: none;
  }

  .work-card{
    padding: 16px;
  }

  .header {
    padding: 5px 0;
  }

  .navbar img{
    width: 180px;
  }

  .heading{
    font-size: 34px;
    line-height: 44px;
  }

  .card-text{
    font-size: 12px;
    line-height: 12px;
  }
  .card-title{
    font-size: 24px;
    line-height: 24px;
  }

  .desc{
    font-size: 14px;
    line-height: 18px;
  }

  .sub-heading {
    font-size: 30px;
    line-height: 34px;
  }

  .btns-wraper {
    flex-wrap: wrap;
  }
  .fields-flex {
    grid-template-columns: 1fr;
  }
  .btn-component{
    width: 100%;
  }
  .nav-link{
    font-size: 16px;
  }
}